<h2>Change Password Page</h2>

<form action="/User/ChangePassword" method="post">
    <label>Current Password:</label>
    <input type="text" name="currentPassword" value="" />
    <label>New Password:</label>
    <input type="text" name="newPassword" value="" />
    <input type="submit" value="Submit" />

</form>
