@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment webHostEnvironment


<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap-4.5.0-dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
            background-image: url(@Url.Content("~/3417081.jpg"));
            background-attachment: fixed;
            background-size: cover;
        }
        body{
            overflow-x:hidden;
        }

        #colorhead {
            width: 15px;
            height: 100%;
            position: relative;

        }

        @@media only screen and (min-width: 600px) {
            #colorhead {
                position:fixed;
                right: 0px;
            }
            #logo {
                position: fixed;
                bottom: 0px;
                right: 40px;
            }
        }

        #logo {
            position:fixed;
            text-align: right;
        }

        #content_row{
            margin-top:100px;
        }

        .card {
            box-shadow: 0px 6px 13px -4px rgba(0,0,0,0.50);
            transition: box-shadow .3s;
        }

        .card:hover {
            box-shadow: 0px 8px 25px 5px rgba(0,0,0,0.25);
        }
        .card:active {
            animation-play-state:paused;
        }

        #logout {
            position: fixed;
            right: 30px;
            padding: 10px;
            color: rgb(255, 54, 97);
        }
        #user {
            position: fixed;
            right: 80px;
            padding: 10px;
            color: rgb(255, 54, 97);
        }
        #home {
            position: fixed;
            right: 140px;
            padding: 10px;
            color: rgb(255, 54, 97);
        }

        #home:hover, #user:hover, #logout:hover {
            color: rgb(252, 148, 50);
        }
    </style>
</head>
<body>
    <div class="row h-100" id="main_row">
        <div class="col-lg-2 col-xm-2 order-lg-last" style="background-color: white">
            <div id="colorhead" style="background-color: #663dff;
            background-image: linear-gradient(319deg,#fcee21 0%, #00ffff 37%, #d4145a 100%);"></div>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="User" asp-action="Index" id="user" title="Account">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                </a>

                <a asp-controller="Auth" asp-action="Logout" id="logout" title="Logout">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
                        <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
                    </svg>
                </a>

                <a asp-controller="Posts" asp-action="Index" id="home" title="Home">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                </a>
            }
            <div id="logo">
                <a asp-controller="Posts" asp-action="Index" style="color:black;"><h1>snap<br />SHOT</h1></a>
            </div>
        </div>
        <div class="col-lg-10 col-xm-11" id="content_row">
            <flash dismissable="true" />
            @RenderBody()
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>
</html>
