@{
    ViewBag.Title = "Not Found";
}


<div class="container-fluid w-75 ">
    <div class="card">
        <div class="card-body">
            <h1>@ViewBag.ErrorMesssage </h1>

        </div>
    </div>
</div>
